.answer{
    border-left: 13px solid #6c757d2e;
    background: #f3d6d65c;
    padding: 1px;
    margin-bottom: 11px;
    box-shadow: 17px 14px 45px 0px #c22dc273;
    margin-top: 39px;
}

.question{
   background:white;
   border-left: 13px solid #6c757d2e;
   box-shadow: 17px 14px 45px 0px #c22dc273;
}
